body {
  margin: 0;
  font-family: arial , sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: grey; /* blue background */
  color: white;
}

.container {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 8px;
  margin: 20px auto;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid yellow;
}

.status {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.reset {
  padding: 20px 30px;
  font-size: 1rem;
  background-color: light grey;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: underline;
  border-radius: 57px;
}
